{% extends 'index.html' %}

{% block body %}

    <main id='home-page'>
        
        <section class="first-session animate-session-in container">
            <div class="left-top">
                
                    <div class="top">
                        <div class="small-intro">
                            WIDS Ife Community Design
                        </div>
                        <div class="big-intro">
                            We make your hostel search <span class="home-page"> easier</span>
                        </div>
                    </div>
                    
                    <a href="{{ url_for('descover_page') }}" class="descover-desktop">
                        
                        <div class="call-to-action">
                            <div class="button">
                                <div class="svg"></div>
                                <div class="descover">
                                    <span>D</span>escover
                                </div>
                                
                            </div>
                            
                            <div class="button-div">
                                <div class="button-inner-div"></div>
                                <div class="button-inner-div-two"></div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="{{ url_for('descover_page') }}" class="call-btn">
                        <button>
                            <div class="svg"></div>
                            <div class="descover">Descover</div>
                        </button> 
                    </a>
            
            </div>
            
            <div class="right-top">
                <div class="storefront animate-session-in-slow-left-top"></div>
            </div>
        </section>
    
        <div class="main-section">
    
            <section>
                <div class="container">
                    <div class="section-div-odd">
                        <div class="left">
                            <img src="{{ url_for('static', filename= 'images/home-images/female-face 1.png') }}" alt="confident-lady">
                        </div>
            
                        <div class="right">
                            <div class="sentence">
                                <div class="topic">Search With Confidence</div>
                                <div class="words">
                                    Explore confidence, search with less stress
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                </div>
                
            </section>
    
    
            <section>
                <div class="container">
                    <div class="section-div-even">
                        <div class="left">
                            <img src="{{ url_for('static', filename= 'images/home-images/town-1223676 1.png') }}" alt="Area-image">
                        </div>
            
                        <div class="right">
                            <div class="sentence">
                                <div class="topic">Pick Your Preferred Area</div>
                                <div class="words">
                                    Bend your search to fit your preferred area. Pick your selected area to define your search
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                
            </section>
    
    
            <section>
                <div class="container">
                    <div class="section-div-odd">
                        <div class="left">
                            <img src="{{ url_for('static', filename= 'images/home-images/money2 1.png') }}" alt="price-image">
                        </div>
            
                        <div class="right">
                            <div class="sentence">
                                <div class="topic">Price Your Hostel</div>
                                <div class="words">
                                    Find the hostel that suit your budget and chose between your prefered price range
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                
            </section>
    
    
            <section>
                <div class="container">
                    <div class="section-div-even">
                        <div class="left">
                            <img src="{{ url_for('static', filename='images/home-images/road-1497489 1.png') }}" alt="road-image">
                        </div>
            
                        <div class="right">
                            <div class="sentence">
                                <div class="topic">Determine How Far</div>
                                <div class="words">
                                    Search based on the distance to camus at Obafemi Awolowo University
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                
            </section>
        </div>
    
        <section class="last-session">
        
            <div class="footer-img">
                <div class="footer-card">
                    <div>Looking for an Hostel in Ile-Ife?<br/>Let's get you started</div>
    
                    <div>
                        <button>
                            <a href="{{ url_for('descover_page') }}">Get Started</a>    
                            <span></span><span></span><span></span><span></span>
                            
                        </button>
                    </div>
    
                    <div>
                        <img src="{{url_for('static', filename='images/all/woman_working_2 1.svg')}}" alt="working-women">
                    </div>
                </div>
            </div>
        </section>
    

    </main>



{% endblock %}
